<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hexlet Django Blog{% endblock %}</title>
</head>
<body>
    <!-- Навигационное меню -->
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <!-- Используем имя маршрута из urls.py -->
            <li><a href="{% url 'articles_index' %}">Статьи</a></li>
        </ul>
    </nav>
    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>